.swiper-scrollbar  {
    background: rgba(227, 58, 61, 0.5);
    height:1px !important;
    overflow:visible;
    margin-bottom: 30px;
    opacity: 1;
}

.swiper-scrollbar-drag {
    height: 4px !important;
    background-color: #E33A3D;
    top:-2px;

}

.legacy-swiper {
    height: 500px;
}

.legacy-swiper .swiper-pagination-bullet {
    width: 3px;
    height: 80px;
    border-radius: 10px;
    margin: 0 !important;
}
.legacy-swiper .swiper-pagination{
    right: 40px !important;
}