.mySwiper {
    width: 100%;
    height: 700px;
  }
  
  @media screen and (max-width: 768px) {
    .mySwiper {
      height: 800px;
    }
    
  }
  
  
  

  .glassmorphism-hero {
    background: rgba( 27, 27, 27, 0.6 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
  }

  .mySwiper .swiper-button-prev ,  .mySwiper .swiper-button-next {
    color: #fff;
  }


  .mySwiper .swiper-button-prev:after ,  .mySwiper .swiper-button-next:after{
    font-size: 15px;
  }
  .mySwiper .swiper-button-prev  {
    top:calc(100% - 58px);
    left:68.5%;
    position: absolute;
    z-index: 5000;
  }

  .mySwiper .swiper-button-next  {
    top:calc(100% - 58px);
    left:82%;
    position: absolute;
    z-index: 5000;
  }

  @media screen and (max-width: 768px) {
    .mySwiper .swiper-button-prev  {
      top:calc(100% - 56px);
      left:58%;
      position: absolute;
    }
  
    .mySwiper .swiper-button-next  {
      top:calc(100% - 56px);
      left:92%;
      position: absolute;
    }
    
  }