.reels-swiper {
    width: 100%;
    height: 100% !important;
 
}

@media screen and (max-width: 768px) {
    .reels-swiper {
        width: 100%;
    }
    
}

.reels-swiper .swiper-button-prev ,  .reels-swiper .swiper-button-next {
    color: #fff;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    padding: 20px;
  }


  .reels-swiper .swiper-button-prev:after ,  .reels-swiper .swiper-button-next:after{
    font-size: 15px;
  }